.LetsTalk-section {
  background: linear-gradient(to top, #ffffff, #ffffff);
  margin-top: 3rem;
  padding: 60px 20px;
  text-align: center;
}


@media (max-width:900px) {
  .LetsTalk-section {

    margin-top: 0rem;
    padding: 16px;
    padding-bottom: 48px;
    text-align: center;
  }
  
  
}